<table class="cmp-basic-table" data-column data-theme="{{ chartTheme }}">
  <tr>
    <th>Categories</th>
    {{#each x-labels }}
      <th data-value="{{ this.value }}" data-sublabel="{{this.sublabel}}">{{ this.label }}</th>
    {{/each}}
  </tr>
  {{#each chartData }}
    <tr>
      <td class="table__category">{{ this.category }}</td>
      <td><span class="table__value table__value--na">{{ this.na }}</span><span>%</span></td>
      <td><span class="table__value table__value--1-3">{{ this.1-3 }}</span><span>%</span></td>
      <td><span class="table__value table__value--4-5">{{ this.4-5 }}</span><span>%</span></td>
    </tr>
  {{/each}}
</table>
