---
name: Stacked Chart
title: Stacked Chart

chartData:
  - category: Designers
    na: 0
    1-3: 4.76
    4-5: 92.86
  - category: User Experience
    na: 1.82
    1-3: 7.06
    4-5: 89.14
  - category: Developers
    na: 1.85
    1-3: 17.86
    4-5: 80.95
  - category: Quality Assurance
    na: 24.07
    1-3: 37.04
    4-5: 38.89
  - category: Product/Project Managers
    na: 9.26
    1-3: 36.9
    4-5: 36.9
  - category: Managers
    na: 14.55
    1-3: 52.94
    4-5: 36.47
  - category: Executive Leadership
    na: 11.32
    1-3: 57.83
    4-5: 31.33
  - category: Marketing
    na: 20.37
    1-3: 63.10
    4-5: 17.86
---
<div class="cmp-stacked-chart{{#if setTheme}} cmp-stacked-chart--{{setTheme}}{{/if}}">
  <div class="cmp-stacked-chart__range" aria-hidden="true">
    <div class="cmp-stacked-chart__low">0%</div>
    <div class="cmp-stacked-chart__high">100%</div>
  </div>
  <div class="cmp-stacked-chart__entry">
    <ul class="cmp-stacked-chart__legend" aria-hidden="true">
      <li class="cmp-stacked-chart__key cmp-stacked-chart__key--na">N/A</li>
      <li class="cmp-stacked-chart__key cmp-stacked-chart__key--1-3">% who rated 1-3<br>(Small factor)</li>
      <li class="cmp-stacked-chart__key cmp-stacked-chart__key--4-5">% who rated 4-5<br>(Big factor)</li>
    </ul>
  </div>
  {{#each chartData}}
  <div class="cmp-stacked-chart__entry cmp-stacked-chart__entry--{{add 1 @index}}">
    <div class="cmp-stacked-chart__category">{{category}}</div>
    <div class="cmp-stacked-chart__group">
      <div class="cmp-stacked-chart__bar cmp-stacked-chart__bar--na" aria-label="Percent who were not applicable: {{na}}" style="width: {{na}}%;"></div>
      <div class="cmp-stacked-chart__bar cmp-stacked-chart__bar--1-3" aria-label="Percent who rated one through three: {{1-3}}" style="width: {{1-3}}%;"></div>
      <div class="cmp-stacked-chart__bar cmp-stacked-chart__bar--4-5" aria-label="Percent who rated four through five: {{4-5}}" style="width: {{4-5}}%;"></div>
    </div>
  </div>
  {{/each}}
</div>
